Flask==2.3.3
pydantic==2.5.0
pandas==2.1.0
schedule==1.2.0
python-dotenv==1.0.0
apscheduler==3.10.4
email-validator==2.1.0
flask-wtf==1.2.1
google-auth==2.40.3
google-auth-oauthlib==1.2.2
google-api-python-client==2.172.0
mailjet-rest==1.4.0
gunicorn==23.0.0
pywebpush==2.0.3
python-barcode==0.15.1
Pillow==10.0.0
flask-session==0.8.0
flask-login==0.6.3
